:root {
    --primary-color: #F44336;
    --secondary-color: #464646;
    --tertiary-color: #ffba31;
    --quaternary-color: #ffffff;
}

body {
    background-color: var(--secondary-color) !important;
}

header {
    background-color: var(--primary-color)!important;
    position: fixed;
    z-index: 1000;
}

.logo {
    width: 100px;
    height: 100px;
}

.custom-container-1 {
    position: relative;
}

.custom-container-1 img {
    width: 100%;
    height: auto;
}

.custom-text-1 {
    position: absolute;
    top: 50%;
    width: 40% !important;
    color: white;
    font-size: 2rem;
    background-color: var(--primary-color);
    padding: 1rem;
    margin-left: 1rem;
    border-radius: 10px;
}

.custom-h {
    color: var(--primary-color) !important;
    border-bottom: var(--primary-color) 2px solid;
    padding-bottom: 0.4rem;
}

.nav-item-text {
    font-size: 1rem !important;
    color: white !important;
}

.nav-item-text:hover {
    color: #ffba31 !important;
}

.nav-item-social {
    font-size: 1.7rem !important;
}

.text-container-1 {
    padding: 1rem;
}

.text-container-1 p {
    text-align: justify;
}

.img-container-1 {
    width: 600px;
    padding: 0.6rem;
    margin: 1rem;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.img-container-1 img {
    border-radius: 10px;
}

.text-container-1 b {
    color: var(--primary-color) !important;
}

